body {
    font-family: 'Nunito', sans-serif;
}
form {
    margin: 0 auto;
    width: 60%;
    /* Form limit */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: burlywood;
    /*Align in the same raw all the items*/
    display:flex;
    justify-content: space-around;
    align-items: center;

}

.menu{
    display:flex;
    justify-content: left;
    align-items: baseline;
    padding-left: 2em;
    margin-bottom: 2em;;
}

input, select {

    /*All fields text have the same size*/
    width: 300px;
    height: 2em;
    box-sizing: border-box;
    border: 2px solid #999;
}

.alert{
    width:20%;
    margin: auto;
    display:flex;
    justify-content: space-around;
    align-items: center;

}

a{
    color:brown !important;
    background-color: gainsboro !important;
    border-radius:5px;
    font-weight:bold !important;
    margin-left: 2em;
}

a:hover{
    background-color: burlywood !important;
}

